statemachine/workflow.asl.json
{
    "StartAt": "RecordExecution",
    "States": {
        "RecordExecution": {
            "Type": "Task",
            "Resource": "${TrackerFunctionArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "execution_start_time.$": "$$.Execution.StartTime",
                "table_name": "${ExecutionTableName}",
                "detail.$": "$.detail"
            },
            "ResultPath": "$.tracking",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 2
                }
            ],
            "Next": "TextractStep"
        },
        "TextractStep": {
            "Type": "Task",
            "Resource": "${TextractFunctionArn}",
            "ResultPath": "$.textractResult",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 5,
                    "BackoffRate": 2
                }
            ],
            "Next": "BedrockStep"
        },
        "BedrockStep": {
            "Type": "Task",
            "Resource": "${BedrockFunctionArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "textract.$": "$.textractResult",
                "output_bucket_name": "${OutputBucket}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 5,
                    "BackoffRate": 2
                }
            ],
            "End": true
        }
    }
}