idp-pattern-1/statemachine/workflow.asl.json
{
    "StartAt": "OCRStep",
    "States": {
      "OCRStep": {
        "Type": "Task",
        "Resource": "${OCRFunctionArn}",
        "Parameters": {
          "execution_arn.$": "$$.Execution.Id",
          "working_bucket": "${WorkingBucket}",
          "input.$": "$"
        },
        "ResultPath": "$.OCRResult",
        "Retry": [
          {
            "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
            "IntervalSeconds": 2,
            "MaxAttempts": 2,
            "BackoffRate": 2
          }
        ],
        "Next": "ClassificationStep"
      },
      "ClassificationStep": {
        "Type": "Task",
        "Resource": "${ClassificationFunctionArn}",
        "Parameters": {
          "execution_arn.$": "$$.Execution.Id",
          "output_bucket": "${OutputBucket}",
          "OCRResult.$": "$.OCRResult"
        },
        "ResultPath": "$.ClassificationResult",
        "Retry": [
          {
            "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
            "IntervalSeconds": 2,
            "MaxAttempts": 10,
            "BackoffRate": 2
          }
        ],
        "Next": "ExtractionStep"
      },
      "ExtractionStep": {
        "Type": "Task",
        "Resource": "${ExtractionFunctionArn}",
        "Parameters": {
          "execution_arn.$": "$$.Execution.Id",
          "output_bucket": "${OutputBucket}",
          "ClassificationResult.$": "$.ClassificationResult"
        },
        "Retry": [
          {
            "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
            "IntervalSeconds": 2,
            "MaxAttempts": 10,
            "BackoffRate": 2
          }
        ],
        "End": true
      }
    }
  }
